p{
color:black;
background-color: #5e7f98;
}

h2{
  color:black;
border: 5px solid #236aa1;
  padding: 20px;
  width: 275px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
