h2{
background-color: #c0d7e8;
}

body{
  margin-top: 100px;
}
.summary{
  margin-top: 500px;
}

.name{
  text-align: center;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 10px;
  margin: 0px;
  width: 100%;
  background-color: #FFFFFF;
}

footer{
  background-color: #c0d7e8;
}
